* {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

/* For Firefox */
html {
  scrollbar-width: none;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  background-color: #000000;
  -ms-overflow-style: none;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  display: flex;
  position: relative;
  flex-direction: column;
}

.logo {
  position: absolute;
  top: -10px;
  /* Adjust this to move the logo over the top section */
  left: 320px;
  /* Adjust this to move the logo from the left edge */
  z-index: 5;
  /* Make sure the logo stays on top */
}

.header-top {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #B50014;
  height: 93px;
  padding: 0 20px;
}

.header-content {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
}

.header-bottom {
  display: flex;
  justify-content: flex-end;
  background-color: #252525;
  height: 30px;
  padding: 0 20px;
}

.header-content {
  width: 100%;
  max-width: 1200px;
  gap: 10px;
  margin: 0 auto;
  /* Center the content */
  padding-left: 20px;
  /* Optional: padding for left alignment */
}

/* Align p tag inside header-content to the left */
.header-bottom p {
  text-align: left;
  /* Left-align the text */
  margin: 0;
  /* Remove any default margin */
}